@model List<NT.Infrastructure.Query.ViewModel.CourseQueryView>
<section id="pricing">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Courses</h2>
            <p class="text-center wow fadeInDown">Our courses are designed and delivered In-Person, Live, or Bespoke to ensure an optimal training experience.</p>
        </div>
        <div class="row">

            @foreach (var courses in Model)
            {

                <div class="col-sm-6 col-md-3">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
                        <ul class="pricing featured">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        @courses.Cost $
                                    </span>
                                    <span class="duration">
                                        ... Days
                                    </span>
                                </div>
                                <div class="plan-name">
                                    @courses.CName
                                </div>
                            </li>
                            @*<li><strong>@courses.Venue</strong></li>*@
                            <li>@courses.Description</li>
                            @*<li><strong>@courses.Description</strong> SUPPORT</li>*@
                            <li class="plan-purchase"><a class="btn btn-default" asp-page="./Register">REGISTER NOW</a></li>
                        </ul>
                    </div>
                </div>

            }


        </div>
    </div>

</section><!--/#pricing-->