@page
@model NT.Presentation.MVCCore.Areas.AdminPanel.Pages.CourseManagement.CandidateCourseInstructor.IndexModel
@{
    Layout = "Shared/_AdminLayout";
    ViewData["title"] = "ثبت نام";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["title"]</h4>
        <p class="pull-left">
            <a class="btn btn-success btn-lg" href="#showmodal=@Url.Page("./Index", "Create")">ثبت نام فراگیران</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">جستجو در ثبت نام کنندگان</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" role="form" method="get">
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.InstructorID"></label>
                        <select class="form-control" asp-for="SearchModel.InstructorID" asp-items="Model.instructorlist">
                            <option value="Null">اساتید</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.CourseID"></label>
                        <select class="form-control" asp-for="SearchModel.CourseID" asp-items="Model.courselist">
                            <option value="Null">دوره ها</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.CompanyID"></label>
                        <select class="form-control" asp-for="SearchModel.CompanyID" asp-items="Model.companylist">
                            <option value="Null">شرکت ها</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.Fullname"></label>
                        <input class="form-control" asp-for="SearchModel.Fullname" placeholder="نام فراگیر">
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                    <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" id="ProductCategoriesDiv">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ثبت نام شدگان در دوره ها</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>نام دوره</th>
                                    <th>نام فراگیر</th>
                                    <th>نام استاد</th>
                                    <th>محل برگزاری</th>
                                    <th>محل اجراء</th>
                                    <th>تاریخ برگزاری</th>
                                    <th>تاریخ ثبت نام</th>
                                    @*<th>وضعیت دوره</th>*@
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.candidatecourseinstructorVM)
                                {
                                <tr>
                                    <td>@item.Fullname</td>
                                    <td>@item.CourseName</td>
                                    <td>@item.InstructorName</td>
                                    <td>@item.LocationName</td>
                                    <td>@item.Venue</td>
                                    <td>@item.SDate</td>
                                    <td>@item.RegistrationDate</td>
                                    @*<td>@item.Status</td>*@

                                    <td>
                                        <a class="btn btn-warning pull-right m-rl-5"
                                           href="#showmodal=@Url.Page("./Index", "Edit", new { id = item.ID})">
                                            <i class="fa fa-edit"></i> ویرایش
                                        </a>
                                        <a class="btn btn-danger pull-right m-rl-5" asp-page="./Index" asp-page-handler="Remove" asp-route-id="@item.ID">
                                            <i class="fa fa-edit"></i> حذف
                                        </a>

                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/AdminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminTheme/assets/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
$(document).ready(function () {
            $('#datatable').dataTable();
        });</script>
}
